<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/springweb/a00_com/bootstrap.min.css" >
<style>
	td{text-align:center;}
</style>
<script src="/springweb/a00_com/jquery.min.js"></script>
<script src="/springweb/a00_com/bootstrap.min.js"></script>
<script src="/springweb/a00_com/vue.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		let model = { pname : "",
					price : 0,
					cnt : 0}
		let vm = new Vue({
			el : ".container",
			data : model
		})
	});
</script>
</head>
<body>

<div class="container">
	<div class="jumbotron text-center">
	</div>
	<form id="frm01" class="form-inline"  method="post">
  	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	    <input v-model="pname" class="form-control mr-sm-2" placeholder="물건명" />
	    <input v-model="price" class="form-control mr-sm-2" placeholder="가격" />
	    <input v-model="cnt" class="form-control mr-sm-2" placeholder="갯수" />
	    <button class="btn btn-info" type="submit">Search</button>
 	</nav>
	</form>
   <table class="table table-hover table-striped">
   	<col width="10%">
   	<col width="50%">
   	<col width="15%">
   	<col width="15%">
   	<col width="10%">
    <thead>
    
      <tr class="table-success text-center">
        <th>물건명</th>
        <th>가격</th>
        <th>갯수</th>
        <th>총계</th>
      </tr>
    </thead>	
    <tbody >
    	<tr class="pInfo">
    		<td>{{pname}}</td>
    		<td>{{price}}</td>
    		<td>{{cnt}}</td>
    		<td>{{price * cnt}}</td>
   		</tr>

    </tbody>
	</table>       
</div>
</body>
</html>