#room1 {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

#room2 {
	background: linear-gradient(-45deg, #ee52c4, #e73c7e, #41d523, #9123d5);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

#room3 {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #1ee932, #e3eb15);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

#room4 {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #d523a0, #5e23d5);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
