@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}

.btnAll {
    margin-top: 150px;
}

a {
    text-decoration: none;
    color: #ff00c8;
    transition: all .3s;
}

span {
    padding: 6px 15px;
    border: 1px solid #ff00c8;
    border-radius: 18px;
    background-color: #f0f0f0;
    transition: all .3s;
}

span:hover {
    background-color: #ff00c8;
}

span:hover a {
    color: #fff;
}

#stuMenu {
    list-style: none;
}

#stuMenu li {
    display: inline-block;
    margin: 0 15px;
}

#stuMain {
    width: 60vw;
    height: 250px;
}