<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/springweb/a00_com/bootstrap.min.css" >
<style>
	td{text-align:center;}
</style>
<script src="/springweb/a00_com/jquery.min.js"></script>
<script src="/springweb/a00_com/bootstrap.min.js"></script>
<script src="/springweb/a00_com/vue.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		let vm = new Vue({
			el : ".container",
			data : {
				cl01 : "orange",
				bk01 : "purple",
				size : "18px",
				bg01 : "#ff0"
				
			}
		})
	});
</script>
</head>
<body>

<div class="container">
	<div class="jumbotron text-center">
	<!-- 1. css inline과 vue 선언 -->
	  <h2 style="color:red">css inline 처리</h2>
	  <h2 v-bind:style="{color:'red'}">vue inline 처리</h2>
	  <!-- ex) vue로 글자 색상과 배경색상 선언 
	  		ex) vue로 테두리 굵기와 색상 선언 
	  -->
	  <h3 v-bind:style="{border:'1px solid red'}">vue css처리</h3>
	  <h4 :style="{border:'1px solid red'}">vue css처리</h4>
	  
	  <h2 v-bind:style="{color:cl01, background:bk01}"></h2>
	  <!-- vue 로 글자 크기와 값을 모델 속성으로 선언하여 호출
	  	vue로 글자 크기와 테두리가 선언될 모델 객체를 호출하여 선언
	   -->
	   <h4 :style="{fontSize:size}">aaa</h4>
	   <h5 :style="{background:bg01}">aaa</h5>
	</div>
	<form id="frm01" class="form-inline"  method="post">
  	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  		<select v-model="cl01" class="form-control mr-sm-2">
  			<option>red</option>
  			<option>blue</option>
  			<option>green</option>
  		</select>
  		<select v-model="bk01" class="form-control mr-sm-2">
  			<option>yellow</option>
  			<option>purple</option>
  			<option>orange</option>
  		</select>
  		<!-- 
		ex) 선택에 따라 중앙/왼쪽/오른쪽 글자 정렬 처리
		ex) 선택에 따라 글자 크기 변경 
  		-->
  		<select>
  			<option>왼쪽</option>
  			<option>중앙</option>
  			<option>오른쪽</option>
  		</select>
  		<select>
  			<option>15</option>
  			<option>20</option>
  			<option>25</option>
  		</select>
	    <input class="form-control mr-sm-2" placeholder="제목" />
	    <input class="form-control mr-sm-2" placeholder="내용" />
	    <button class="btn btn-info" type="submit">Search</button>
 	</nav>
	</form>
   <table class="table table-hover table-striped">
   	<col width="10%">
   	<col width="50%">
   	<col width="15%">
   	<col width="15%">
   	<col width="10%">
    <thead>
    
      <tr class="table-success text-center">
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>조회</th>
      </tr>
    </thead>	
    <tbody>
    	<tr><td></td><td></td><td></td><td></td><td></td></tr>
    	<tr><td></td><td></td><td></td><td></td><td></td></tr>
    	<tr><td></td><td></td><td></td><td></td><td></td></tr>
    </tbody>
	</table>       
</div>
</body>
</html>