@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}

body {
    height: 150vh;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    padding: 0 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #22277f;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #cacaca;
    z-index: -10;
}

/* --------------------------------------- */
.cursor {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #7c10c9;
    position: absolute;
    z-index: 150;
    top: 0;
    right: 0;
    transform: translate(-50%, -50%);
    transform-origin: 100% 100%;
    transition: all 0.3s ease;
    transition-property: background, transform;
}

.cursor_follower {
    position: absolute;
    width: 40px;
    height: 40px;
    background: transparent;
    z-index: 120;
    border: 2px solid #dbdb06;
    border-radius: 50%;
    user-select: none;
    pointer-events: none;
    transition: transform 0.6s ease-in-out, opacity 0.2s ease-in-out;
}

.a19tb td {
    padding: 20px 25px;
    transition: all .4s;
}

.a19tb td:hover {
    background-color: #000;
    color: #00f82d;
}

.a19tb td:active {
    border-radius: 30px;
}


/* ----------------------------------------------- */
.a01Dis strong {
    border: 2px solid #222;
    font-weight: 900;
    font-size: 20px;
}

.a01Dis strong:first-child {
    height: 70px;
}

.a01Dis strong:nth-child(2) {
    display: block;
    height: 40px;
}

.a01Ex span {
    display: block;
    width: 200px;
    height: 80px;
    border: 2px solid #999;
}

.a01Ex .h1s h1 {
    display: inline;
    border: 2px solid #555;
}

.a01Disch {
    background-color: #999;
}

.a01Disch span {
    display: block;
    border: 2px solid #fff;
}

.a01Disch span:first-child {
    height: 50px;
    width: 100px;
}

.a01Dis2 {
    background-color: #ff76ff;
}

.a01Dis2 h3 {
    display: inline-block;
    width: 300px;
    height: 50px;
}

.a01Ex {
    background: url(../../a00_img/colorful.jpg) center no-repeat;
    background-size: cover;
}

.a01Ex strong {
    display: inline-block;
    width: 500px;
    height: 40px;
    color: #fff;
    border: 1px solid #fff;
}

/* -------------------------------------- */
.a02Pos p {
    width: 30px;
    height: 30px;
    border: 2px solid #222;
}

.a02Pos p:first-child {
    position: relative;
}

.a02Pos p:nth-child(2) {
    position: relative;
}

.a02Pos p:nth-child(3) {
    position: relative;
}

.a02Pos p:last-child {
    position: relative;
}

/* ----------------------------------------- */
.a03 {
    /* margin: 0 auto; */
    position: relative;
    height: 300px;
}

.a03 div {
    position: absolute;
    width: 100px;
    height: 100px;
}

.a03 div:first-child {
    background-color: #4f4f4f;
    transition: all .3s;
}

.a03 div:first-child:hover {
    z-index: 10;
    transform: scale(1.3);
}

.a03 div:nth-child(2) {
    top: 30px;
    left: 50px;
    background-color: #f00;
}

.a03 div:nth-child(3) {
    top: 60px;
    left: 90px;
    background-color: #f0f;
}

/* -------------------------------- */
.a03Ex {
    height: 300px;
    position: relative;
    border: 1px solid #222;
}

.a03Ex div {
    position: absolute;
    z-index: 100;
    width: 50px;
    height: 50px;

}

.a03Ex div:first-child {
    background-color: #4f4f4f;
    transition: all .3s;
}

.a03Ex div:first-child:hover {
    z-index: 10;
    transform: scale(1.3);
}

.a03Ex div:nth-child(2) {
    top: 30px;
    left: 40px;
    background-color: #fffb00;
}

.a03Ex div:nth-child(3) {
    top: 60px;
    left: 70px;
    background-color: #f0f;
}

/* ---------------------- */
.a3Ex2 {
    position: relative;
    height: 500px;
    margin-top: 20px;
}

.a3Ex2 img {
    width: 100px;
    height: 145px;
    position: absolute;
    transition: all .4s;
    cursor: pointer;
}

.a3Ex2 img:first-child {
    top: 0;
    left: 10px;
    z-index: 100;
}

.a3Ex2 img:first-child:hover {
    top: 40px;
    left: 50px;
    transform: scale(1.15);
}

.a3Ex2 img:nth-child(2) {
    top: 50px;
    left: 70px;
    z-index: 50;
}

.a3Ex2 img:nth-child(2):hover {
    top: 90px;
    left: 100px;
    transform: scale(1.15);
}

.a3Ex2 img:nth-child(3) {
    top: 100px;
    left: 100px;
    z-index: 0;
}

.a3Ex2 img:nth-child(3):hover {
    top: 140px;
    left: 140px;
    transform: scale(1.15);
}

/* -------------------------------------- */
#a04f {
    position: fixed;
    width: 100px;
    height: 100px;
    top: 50px;
    right: 50px;
    background-color: #ff9d00;
    transition: all .3s;
}

#a04f:hover {
    transform: rotate(60deg);
}

.sec {
    height: 50vh;
    border: 1px solid #f0f;
}

.a04Ex {
    position: fixed;
    padding: 15px 25px;
    width: 300px;
    top: 100px;
    left: 30%;
    right: 30%;
    border: 1px solid #999;
    box-shadow: 2px 2px 6px #999;
    transition: all .3s;
}

.a04Ex:hover {
    background-color: #d7d7dd;
}

.a04Ex h3 {
    font-size: 20px;
}

.a04Ex p {
    font-size: 13px;
}

/* -------------------------------------- */
.a05 {
    padding: 20px 30px;
}

.a05 h3 {
    font-size: 18px;
}

.a05 .a05c {
    width: 200px;
    float: right;
    border: 1px dashed #4f4f4f;
    font-size: 11px;
}

.a05 .a05Con {
    /* width: 200px; */
    float: left;
    font-size: 14px;
}

/* ------------------------------- */

.a7Exall {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    margin-top: 200px;
}

.a7Exall .a7Ex {
    padding: 20px 30px;
    transition: all .3s;
    cursor: pointer;
    border: 1px solid #bdbdbd;
    font-size: 13px;
}

.a7Exall .a7Ex:hover {
    /* transform: scale(1.3); */
    font-size: 20px;
}

/* ---------------------------------------- */
.a07v .a7h31 {
    visibility: hidden;
}

.a07v .a7h32 {
    display: none;
}

.a7imgAll {
    margin-top: 50px;
}

.a7imgAll div {
    display: inline-block;
    cursor: pointer;
}

.a7imgAll div img {
    width: 160px;
    transition: all .3s;
}

.a7imgAll .apple:hover img {
    /* visibility: hidden; */
    opacity: 0;
}

.a7imgAll .mango:hover img {
    /* visibility: hidden; */
    opacity: 0;
}

.a7imgAll .bnn:hover img {
    /* visibility: hidden; */
    transform: scale(1.15);
}

/* -------------------------------------- */
.a08 {
    padding: 20px;
    width: 420px;
    height: 180px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #efefef;
}

.a08 p {
    width: 500px;
    font-size: 13px;
}

.a082 {
    width: 200px;
    height: 100px;
}

.a082 .a8op {
    width: 400px;
    font-size: 11px;
    background-color: wheat;
}

.op1 {
    overflow: scroll;
}

.op2 {
    overflow: hidden;
}

.op3 {
    overflow: visible;
}

.op4 {
    overflow: auto;
}

.a8Ex {
    padding: 20px 30px;
    margin-top: 40px;
    width: 60vw;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #999;
    background: url(../../a00_img/colorful.jpg) center center;
    background-size: cover;

}

.a8Ex p {
    font-size: 12px;
    font-weight: 800;
    line-height: 150%;
    text-shadow: 1px 1px 3px #4f4f4f;
    color: #fff;
}

.a8Ex p::selection {
    background-color: #8783ff;
    color: #fff;
}

footer .scrollTop {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 50px;
    bottom: 30px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #222;
    font-size: 13px;
    cursor: pointer;
    transition: all .3s;
}

footer .scrollTop:hover {
    background-color: #cecece;
}

/* ----------------------------------- */
.gnb {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #efefef;
    list-style-type: disc;
    /* list-style-image: url(../../a00_img/marker.png); */
}

.gnb0 {
    list-style-type: none;
}

.gnb1 {
    list-style-type: armenian;
}

.gnb2 {
    list-style-type: georgian;
}

.gnb3 {
    list-style-type: lower-alpha;
}

/* -------------------------------------- */
header {
    width: 100vw;
    padding: 20px 0;
    background-color: #fffec0;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header nav #gnb li {
    display: inline-block;
    padding: 0 15px;
    font-size: 14px;
    border-right: 2px solid #222;
    list-style: none;
    transition: all .3s;
}

header nav #gnb li:last-child {
    border: none;
}

header nav #gnb li:hover a {
    color: #d16100;
}

#gnb li a {
    color: #000;
    text-decoration: none;
    transition: all .3s;
}

.serviceAll {
    /* width: 100vw; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding-left: 40px; */
    background-color: #fff;
}

#serviceBar,
#sSide {
    display: inline-block;
}

#serviceBar li {
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;
    list-style: none;
    transition: all .3s;
}

#serviceBar li a {
    color: #000;
    text-decoration: none;
    transition: all .3s;
}

#sSide li {
    display: inline-block;
    padding: 0 6px;
    font-size: 11px;
    list-style: none;
    transition: all .3s;
}

#sSide li a {
    color: #000;
    text-decoration: none;
    transition: all .3s;
}

/* -------------------------------------- */
.a12T {
    margin: 0 auto;
    width: 500px;
    height: 200px;
    text-align: center;
    font-size: 13px;
    border-collapse: collapse;
}

.a12T .thead {
    color: #fff;
    background-color: #222;
}

.a12T .thead td {
    height: 30px;
}

.a12T td {
    width: 40px;
    /* height: 50px; */
    border: 1px solid #222;
}

.a12T tr {
    transition: all .3s;
}

.a12T tr:hover {
    color: #fff;
    background-color: #8783ff;
}

/* -------------------------- */
.a12h4 {
    margin: 50px 0 30px 0;
}

.a12Ex {
    margin: 0 auto;
    width: 500px;
    /* height: 200px; */
    text-align: center;
    font-size: 11px;
    border-collapse: collapse;
}

.a12Ex .exHead {
    color: #fff;
    background: url(../../a00_img/colorful.jpg) center center;
    background-size: cover;
}

.a12Ex td {
    width: 50px;
    height: 40px;
    border: 1px solid #999;
}

.a12Ex .exHead td {
    font-weight: 800;
    text-shadow: 1px 1px 2px #4f4f4f;
    border: 1px solid #fff;
}

.a12Ex tr {
    transition: all .3s;
    cursor: pointer;
}

.a12Ex tr:hover {
    background-color: #ffe4cd;
}

.a12Ex tr:hover td {
    font-size: 12px;
    font-weight: 700;
}

/* ----------------------------------- */

.loginF fieldset {
    padding: 20px 10px 10px 10px;
    width: 40%;
    text-align: left;
    font-size: 12px;
}

.loginF fieldset label {
    display: inline-block;
    margin-bottom: 10px;
}

.loginF fieldset label span {
    display: inline-block;
    margin-right: 10px;
    width: 50px;
    text-align: right;
}

.loginF input[type=text],.loginF input[type=password] {
    width: 150px;
    padding: 0 10px;
    color: #22277f;
    text-align: left;
}

.loginF input[type=submit] {
    padding: 0 5px;
    border-radius: 9px;
    color: #fff;
    font-size: 12px;
    background-color: #22277f;
}

.loginF input[type=text]:focus {
    font-size: 15px;
}

/* --------------------------------- */
.a15F {
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
    font-size: 12px;
}

.a15F label span {
    display: inline-block;
    width: 50px;
    text-align: right;
    margin-right: 10px;
}

.a15F input[type=text],.a15F input[type=email] {
    width: 150px;
    padding: 0 10px;
    color: #22277f;
    text-align: left;
    transition: all .3s;
}

.a15F input[type=text]:hover,.a15F input[type=email]:hover {
    background-color: #dfe0ff;
}