@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

.a01H {
    border: 1px solid #999 ;
    cursor: pointer;
}

hr {
    margin: 20px 0;
}

table {
    border-collapse: collapse;
}

.clickh3 { 
    cursor: pointer;
}

.a08 {
    margin: 0 auto;
    width: 80%;
}

.a10T {
    width: 400px;
    height: 400px;
}
.a10T td {
    border: 1px solid #999;
    transition: all .3s;
}

.a11T {
    width: 70%;
    height: 100px;
}

.a11T td{
    border: 1px solid #999;
    transition: all .3s;
    
}
.start, .stop {
    cursor: pointer;
}
.a12All {
    text-align: center;
    margin: 0 auto;
}

.a12T {
    margin: 0 auto;
}
.a12T td {
    border: 1px solid #999;
    transition: all .3s;
    width: 100px;
    height: 100px;
}

.a16T {
    margin: 0 auto;
    text-align: center;
    width: 400px;
    height: 400px;
}

.a16T .tdhead {
    height: 20%;
    padding: 20px;
    text-align: right;
}

.a16T td {
    border: 1px solid #999;
    transition: all .3s;
    cursor: pointer;
}

.a16T td:hover {
    background-color: #e3e3e3;
}

.a16T td:active {
    background-color: #f1e898;

}

.toolAll {
    position: relative;
    /* display: inline-block; */
    margin: 0 auto;
}
.ob01, .ob02, .ob03 {
    text-align: center;
    transition: all .3s;
}

.ob03.ani {
    animation: showTop .3s;
}

.tip {
    position: absolute;
    top: -50px;
    left: 42%;
    padding: 10px 20px;
    background-color: #999;
    display: none;
    transition: all .3s;
}

.dBtn {
    color: #ff4d47;
    padding: 5px 12px;
    border: 2px solid #ff4d47;
    border-radius: 15px;
    background-color: #fff;
    cursor: pointer;
}

input[name="dice"] {
    width: 40px;
    padding: 5px 10px;
    text-align: center;
}

.h306 {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    transition: all .3s;
    cursor: pointer;
}

.kTable{
    width: 400px;
    height: 400px;
    border-collapse: collapse;
}

.kTable td {
    border: 1px solid #999;
}