@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

.a01H {
    border: 1px solid #999 ;
    cursor: pointer;
}

hr {
    margin: 20px 0;
}

table {
    border-collapse: collapse;
}

.clickh3 { 
    cursor: pointer;
}

.a08 {
    margin: 0 auto;
    width: 80%;
}

.a10T {
    width: 400px;
    height: 400px;
}
.a10T td {
    border: 1px solid #999;
    transition: all .3s;
}

.a11T {
    width: 70%;
    height: 100px;
}

.a11T td{
    border: 1px solid #999;
    transition: all .3s;
    
}
.start, .stop {
    cursor: pointer;
}
.a12All {
    text-align: center;
    margin: 0 auto;
}

.a12T {
    margin: 0 auto;
}
.a12T td {
    border: 1px solid #999;
    transition: all .3s;
    width: 100px;
    height: 100px;
}
