<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>A01_Servlet</display-name>
    <servlet-name>A01_Servlet</servlet-name>
    <servlet-class>backendWeb2.a01_servlet.A01_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A01_Servlet</servlet-name>
    <url-pattern>/A01_Servlet</url-pattern>
  </servlet-mapping>
  <display-name>backendWeb2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>A02_Servlet2</display-name>
    <servlet-name>A02_Servlet2</servlet-name>
    <servlet-class>backendWeb2.a01_servlet.A02_Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A02_Servlet2</servlet-name>
    <url-pattern>/A02_Servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>htmlRendering</display-name>
    <servlet-name>htmlRendering</servlet-name>
    <servlet-class>backendWeb2.a01_servlet.A03_Servlet_html</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>htmlRendering</servlet-name>
    <url-pattern>/htmlRendering</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>A04_Servlet_html</display-name>
    <servlet-name>A04_Servlet_html</servlet-name>
    <servlet-class>backendWeb2.a01_servlet.A04_Servlet_html</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A04_Servlet_html</servlet-name>
    <url-pattern>/A04_Servlet_html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ex0609</display-name>
    <servlet-name>ex0609</servlet-name>
    <servlet-class>backendWeb2.a01_servlet.ex0609</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ex0609</servlet-name>
    <url-pattern>/ex0609</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>codeIns.do</display-name>
    <servlet-name>codeIns.do</servlet-name>
    <servlet-class>backendWeb2.a01_dao.A06_CodeInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>codeIns.do</servlet-name>
    <url-pattern>/codeIns.do</url-pattern>
  </servlet-mapping>
</web-app>